html{
	background-color: rgb(242,238,179);
	font-family: "Century Gothic",sans-serif;
}
.header{
	text-align: center;
}
body .header h1{
	color: rgb(89,50,60);
	text-shadow: 1vh 1vh rgb(140,105,84);
	font-size: 25vh;
	margin-top: 0vh;
	margin-bottom: 0vh;
}
body .header h2{
	color: rgb(38,1,38);
	font-size: 7vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
}
#quote{
	color: rgb(68,38,46);
	font-size: 10vh;
	margin-top: 0px;
}
#navbar ul{
	list-style-type: none;
	margin-bottom: 1px;
}
#navbar li{
	margin-top: 0.5vh;
	margin-right: 2vw;
	margin-left: 2vw;
	margin-bottom: 1vh;
	padding-left: 4vh;
	padding-right: 4vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: rgb(140,105,84);
	border: 2px solid rgb(140,105,84);
	border-radius: 5px;
	display:inline-block;
	background-color: rgb(186,158,141);;
}
a{
	text-decoration: none;
	font-size: 20px;
}
#navbar a{
	color: rgb(140,105,84);
}

#Projects ul{
	display:inline-block;
}
#Projects li{
	text-align: center;
	margin-top: 3vh;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-bottom: 3vh;
	padding-left: 4vh;
	padding-right: 4vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: rgb(129,113,65);
	border: 4px dashed rgb(129,113,65);
	width: 20vw;
	height:25vw;
	border-radius: 5px;
	display:inline-block;
	background-color: rgb(179,160,104);
}
#Resume ul{
	display:inline-block;
}
#Resume li{
	text-align: center;
	margin-top: 0.5vh;
	margin-right: 1vw;
	margin-left: 1vw;
	margin-bottom: 1vh;
	padding-left: 4vh;
	padding-right: 4vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	color: rgb(129,113,65);
	border: 4px dashed rgb(129,113,65);
	width: 20vw;

	border-radius: 5px;
	display:inline-block;
	background-color: rgb(179,160,104);
}
#Experiences ul{
	display: inline-block;
}
#inner-contents{
	background-color: rgb(191,175,128);
	border: 10px dashed rgb(157,138,79);
	border-radius: 20px;
	padding: 30px;
	margin: 50px;
}
#ConnectWithMe h3{
	text-align: center;
}
#ConnectWithMe #inner-contents{
	background-color: rgb(191,175,128);
	border: 10px dashed rgb(157,138,79);
	border-radius: 20px;
	padding-left: 7vw;
	padding-right:7vw;
	margin: 50px;
}
.footer{
	text-align: center;
}
.icons{
	display:flex;
	margin-right: 4vw;
	margin-left: 4vw;
}
.contents h1{
	text-align: center;
	font-size: 50px;
	color: rgb(98,86,49);
	background-color: rgb(162,141,81);
	border-radius:20px;
	border: 10px dashed rgb(98,86,49);
	padding: 30px;
	margin: 50px;
}
