<!doctype html>
<html ng-app="nameApp">
	<head>
    <title>Sequal Name Generator</title>
		<meta charset="utf-8" />
		<meta content='width=device-width, initial-scale=0.65, maximum-scale=0.65, user-scalable=0' name='viewport' />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<script src="js/nameG.js"></script>
	</head>
	<body>
    <div class="page-header">

      <h2>Sequel Name Generator</h2>
    </div>


    <div ng-controller="nameGenController as NameGen">

      <form ng-submit="NameGen.generate()">
      <div class="textF">


      <input type="text" class="form-control" ng-model="NameGen.name" size="30"
             placeholder = "enter word here">
      <input type="text "  class="form-control" ng-model="NameGen.supp" size="30"
             placeholder = "enter another word here">
        </div>
      <input class="btn btn-default btn-lg" type="submit" value="generate">
    </form>

    <div class="displayText">
      <p>{{NameGen.returnName}}</p>
    </div>
    </div>




  </body>
</html>
